.status-idle{
  margin-right: 5px;
  color: grey;
}

.status-processing{
  margin-right: 5px;
  color: #ffc107;
}

.status-done{
  margin-right: 5px;
  color: #28a745;
}

.spinner-grow {
  --bs-spinner-width: 1rem !important;
  --bs-spinner-height: 1rem !important;
}
