<div class="container-fluid">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">Nutzer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/applicationParams" routerLinkActive="active">Anwendungsparameter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/targetFolders" routerLinkActive="active">Zielverzeichnisse</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/searchBestaende" routerLinkActive="active">Suchbestände</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/aktenInfo" routerLinkActive="active">Akten Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/exceptions" routerLinkActive="active">Fehler</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
